.Login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.Modal {
  padding-top: 10px;
}

.login-logo {
  margin: 0 auto;
  width: 250px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.login-img {
  width: 100%;
}
